#items_table {
    border-collapse: collapse;
}

tr.border_bottom td {
    border-bottom: 1pt solid black;
}

tr.border_bottom th {
    border-bottom: 1pt solid black;
}

td
{
    padding:0 15px;
}
.all{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
